{% extends "base.html" %}

 
    {% include "navbar.html" %}


    {% block content %} 

        
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    
                     

                    
                    <form method="GET" action="" class="row g-3 align-items-center justify-content-between">
                        <!-- Search Bar -->
                        <div class="col-md-4">
                            <input
                                type="text"
                                name="q"
                                class="form-control"
                                placeholder="Search products..."
                                value="{{ search_query }}">
                        </div>
                    
                         
                        <!-- Sorting Options -->
                        <div class="col-md-2">
                            <select name="sort_by" class="form-select">
                                <option value="name_asc" {% if sort_by == "name_asc" %}selected{% endif %}>Name: A-Z</option>
                                <option value="name_desc" {% if sort_by == "name_desc" %}selected{% endif %}>Name: Z-A</option>
                                <option value="price_low_high" {% if sort_by == "price_low_high" %}selected{% endif %}>Price: Low to High</option>
                                <option value="price_high_low" {% if sort_by == "price_high_low" %}selected{% endif %}>Price: High to Low</option>
                                <option value="new_arrivals" {% if sort_by == "new_arrivals" %}selected{% endif %}>New Arrivals</option>
                                <option value="featured" {% if sort_by == "featured" %}selected{% endif %}>Featured</option>
                            </select>
                        </div>


                        <div class="col-md-2">
                            <select name="brand" class="form-select">
                                <option value="" {% if brand == "" %}selected{% endif %}>All Brands</option>
                                {% for brand in brands %}
                                    <option value="{{ brand.name }}" {% if brand.name == selected_brand %}selected{% endif %}>{{ brand.name|capfirst }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-md-2">
                            <select name="type_category" class="form-select">
                                <option value="" {% if selected_type_category == "" %}selected{% endif %}>All Types</option>
                                {% for type_category in type_categories %}
                                    <option value="{{ type_category.name }}" {% if type_category.name == selected_type_category %}selected{% endif %}>
                                        {{ type_category.name|capfirst }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        
                        
                    
                        <!-- Submit Button -->
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-primary">Apply</button>
                        </div>
                        
                        <!-- Clear Filters Button -->
                        <div class="col-md-2">
                            <a href="{% url 'home' %}" class="btn btn-secondary">Clear Filters</a>
                        </div>
                    </form>


                </div>
                
            </div>
        </header>

        <div class="container py-5 d-flex justify-content-evenly">
            
            {% if available_coupons %}
 
                <div class="d-flex flex-wrap">
                    {% for coupon in  available_coupons%}
                        <div class="badge bg-primary text-white m-2 p-3" style="font-size: 1.2em; border-radius: 10px;">
                            <h5 class="mb-1">{{ coupon.code }}</h5>
                            <p class="mb-0 text-white">
                                <strong>{{ coupon.discount_percent }}% OFF</strong><br>
                                Valid Until: {{coupon.end_date|date:"d-m-Y" }}
                            </p>
                        </div>
                    {% endfor %}
                </div>
                

                
            {% endif %}

            {% if active_offers %}
            <div class="d-flex flex-wrap">
                {% for offer in active_offers %}
                    <div class="badge bg-primary text-white m-2 p-3" style="font-size: 1.2em; border-radius: 10px;">
                        <h5 class="mb-1">{{ offer.offer_type|capfirst }} Offer</h5>
        
                        <!-- Check for TypeCategory presence -->
                        <p class="text-white mb-0">
                            <strong>Category: </strong>
                            {% if offer.type_category %}
                                {{ offer.type_category.name }}
                             
                            {% endif %}
                        </p>
        
                        <p class="text-white mb-0">
                            <strong>Discount: </strong>{{ offer.discount_value }} 
                            {% if offer.offer_type == 'percentage' %}
                                %
                            {% else %}
                                ₹
                            {% endif %}
                        </p>
        
                       
                        <p class="text-white mb-0">
                            <strong>End Date: </strong>{{ offer.end_date|date:"d-m-Y" }}
                        </p>
                    </div>
                {% endfor %}
            </div>
        
        {% endif %}
        

           

    </div>
        

        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                    {%  for product in products %}

                    <div class="col mb-5">
                        <div class="card h-100" >
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ product.thumbnail.url }}" alt="..." />
                            {% if product.is_featured %}
                            <!-- Featured label positioned at the corner -->
                            <span class="badge bg-success text-white position-absolute top-0 start-0 m-2">Featured</span>
                             {% endif %}


                           
                                                        
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ product.name }}</h5>
                                   

                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        {% for i in product.stars_range %}
                                            <i class="bi-star-fill {% if i <= product.avg_rating %}text-warning{% else %}text-muted{% endif %}"></i>
                                        {% endfor %}
                                    </div>
                                    Brand: {{ product.brand }}<br>
                                    
                                   
                                    {% if product.discount > 0 %}
                                        <!-- Product Discount Label -->
                                        <span class="badge bg-danger text-white">Discount-{{ product.discount }}%</span>
                                        {% else %}
                                      <br>
                                  
                                    {% endif %}
                                    

                                     
                                <br>
                                
                 
                                    {% if product.get_discounted_min_variant_price < product.get_min_variant_price %}
                                    <!-- Show discounted price with original price struck through -->
                                    <span class="text-muted text-decoration-line-through">    Product Price:${{ product.get_min_variant_price|floatformat:2 }}</span><br>
                                    <strong class="text-success">    Final Price:${{ product.get_discounted_min_variant_price|floatformat:2 }}</strong>
                                    {% else %}
                                    <!-- Show only the original price -->
                                    <strong>    Final Price:${{ product.get_min_variant_price|floatformat:2 }}</strong>
                                    {% endif %}
                 
                                                        
                                </div>



                                
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'product' product.id %}">View Product</a></div>
                            </div>
                        </div>
                    </div>
                    {%  endfor %}

                </div>  
            </div>          
        </section>


        
         
        {% endblock content %}