{% extends "admin_base.html" %}

{% block content %}


  <!-- Header-->
  <header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Reset Password </h1>
            <p class="lead fw-normal text-white-50 mb-0">Reset Your Account Password</p>
        </div>
    </div>
</header>

<style>
  form{
      width: 500px;
      height: auto;
      padding: 20px 20px 20px 20px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      margin: 50px auto;
      border-radius: 10px;
  }
  form p{
      text-align: center;
  }

  form h3{
      text-align: center
  }

  form a{
    font-size:20px
}
</style>


<h2>Password Reset Complete</h2>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h2 style="text-align: center;"> <p>Your password has been successfully reset. You can now <a href="{% url 'admin_login' %}">Login Here </a>.</p></h2>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


{% endblock content %}

 